<!DOCTYPE html>
<html>
<head>
    <title>Categories</title>
    <%- include('headerfiles') %>

    <style>
    </style>

    <script>

        function insertAdminValues() {
            $('#adminform').validate();
            if ($('#adminform').valid()) {
                let formcontrols = document.getElementById("adminform").elements;
                let formdata = new FormData();
                for (let i = 0; i < formcontrols.length; i++) {
                    if (formcontrols[i].type !== "button") {
                        formdata.append(formcontrols[i].name, formcontrols[i].value);
                    }
                }

                let httpreq = new XMLHttpRequest();
                httpreq.onreadystatechange = function () {
                    if (this.readyState === 4 && this.status === 200) {
                        alert(this.response);
                        document.getElementById("adminform").reset();
                        getAdminData();
                    }
                }
                httpreq.open('post', "/admin/insert-admin-data", true);
                httpreq.send(formdata);
            }
        }

        function getAdminData() {
            var http = new XMLHttpRequest();
            http.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    console.log(JSON.parse(this.response));
                    var data = JSON.parse(this.response);

                    var tableTag = `<table class="table table-dark table-hover">`;
                    tableTag += `<thead><tr><th>sr NO</th><th>username</th>
                                 <th>email</th>
                                 <th>pno</th>
                                 <th>password</th><th>Delete</th>
                                  </tr></thead>`;


                    tableTag += `<tbody>`;
                    data.forEach(function (value, index) {
                        tableTag += `<tr>`;
                        tableTag += `<td>${index+1}</td>`;
                        tableTag += `<td>${value.username}</td>`;
                        tableTag += `<td>${value.email}</td>`;
                        tableTag += `<td>${value.pno}</td>`;
                        tableTag += `<td>${value.password}</td>`;

                        tableTag += `<td>`;

                        tableTag += `<button onclick="deleteAdmin('${value.username}')" type="button" class="btn btn-danger btn-sm">
                         <i class="fa fa-trash-alt"></i></button>`;

                        tableTag += `</td>`;

                        tableTag += `</tr>`;
                    });
                    tableTag += `</tbody></table>`;

                    document.getElementById("AdmintableBody").innerHTML = tableTag;
                }
            }
            http.open("get", "/admin/get-admin-data", true);
            http.send();
        }

        function deleteAdmin(username) {
            var http = new XMLHttpRequest();
            http.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    alert(this.response);
                    getAdminData();
                }
            }
            http.open("get", `/admin/delete?username=${username}`, true);
            http.send();
        }





    </script>


</head>

<body onload="getAdminData()">
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center mt-3 mb-5 display-5">Manage Admin</h1>

            <button type="button" data-bs-toggle="modal" data-bs-target="#AdminModal" class="btn btn-success mb-3" >
                <i class="fa fa-plus" ></i>  Add New User
            </button>

            <div class="modal fade" id="AdminModal">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add New User</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">

                            <form id="adminform">
                                <div class="form-group mb-3">
                                    <label for="">Enter Username</label>
                                    <input type="text" name="username" id="username" class="form-control" data-rule-required="true"
                                           data-msg-required="Enter Username"/>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="">Enter E-Mail</label>
                                    <input type="email" name="email" id="email" class="form-control" data-rule-required="true"
                                           data-msg-required="Enter Email"/>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="">Enter Phone Number</label>
                                    <input type="text" name="pno" id="pno" class="form-control" data-rule-required="true"
                                           data-msg-required="Enter Phone number"/>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="">Enter Password</label>
                                    <input type="password" name="password" id="password" class="form-control" data-rule-required="true"
                                           data-msg-required="Enter Password"/>
                                </div>

                                <div class="form-group mt-2">
                                    <input type="button" id="btnncat" onclick="insertAdminValues()" value="SUBMIT"
                                           class="btn btn-primary"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div id="AdmintableBody"></div>


        </div>
    </div>
</div>

</body>