<!DOCTYPE html>
<html lang="">
<head>
    <title>Admin Login</title>
    <%- include('headerfiles') %>
<!--    <link href="/stylesheets/admin-style.css" rel="stylesheet"/>-->
    <link href="/stylesheets/admin-style.css" rel="stylesheet"/>
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
            integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
          integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
          crossorigin="anonymous" referrerpolic
          +y="no-referrer"/>

    <style>
        .error {
            color: red;
        }
        #cat_body {
            background-color: aliceblue;
        }

        body {
            background: #000
        }

        .card {
            border: none;
            max-height: 370px
        }

        .forms-inputs {
            position: relative
        }

        .forms-inputs span {
            position: absolute;
            top: -18px;
            left: 10px;
            background-color: #fff;
            padding: 5px 10px;
            font-size: 15px;
            color:black;
        }

        .forms-inputs input {
            height: 50px;
            border: 2px solid #eee
        }

        .forms-inputs input:focus {
            box-shadow: none;
            outline: none;
            border: 2px solid #000
        }

        .btn {
            height: 50px
        }


    </style>

    <script>
        function AdminLogin() {
            $('#adminlogin').validate();
            if ($('#adminlogin').valid()) {
                var formcontrols = document.getElementById("adminlogin").elements;
                var formdata = new FormData();
                for (let i = 0; i < formcontrols.length; i++) {
                    if (formcontrols[i].type !== "button")
                        formdata.append(formcontrols[i].name, formcontrols[i].value);
                }
                var http = new XMLHttpRequest();
                http.onreadystatechange = function () {
                    if (this.readyState === 4 && this.status === 200) {
                        // alert(this.response);
                        if (this.response === "login") {
                            window.location.href = "/admin/categories";
                        } else {
                            document.getElementById('error').innerHTML = "<div class='alert alert-danger mt-5'>Incorrect username/Password</div>";
                        }
                    }
                }
                http.open('post', '/checkadmin', true);
                http.send(formdata);
            }
        }
    </script>

</head>


<body id="cat_body">
<%- include('headerfilesadmin') %>
<div class="container">
    <div class="row d-flex justify-content-center align-items-center mt-10">
        <div class="col-md-7 mt-5 mb-0" style="margin: 5rem 0 -2rem 19rem">
            <div class="card px-5 py-5">
                <form id="adminlogin">
                    <div class="text-center">
                        <h2 class="text-center text-dark mt-0 mb-5">Login As Admin</h2>
                    </div>
                    <div class="form-data">
                        <div class="forms-inputs mb-3 form-group"><span>Username</span> <input type="text" name="username"
                                                                                             id="username"
                                                                                             class="form-control"
                                                                                             data-rule-required="true"
                                                                                             data-msg-required="*Username Required"/>

                        </div>
                        <div class="forms-inputs mb-3 form-group"><span>Password</span> <input type="password" name="password"
                                                                                    id="password"
                                                                                    class="form-control"
                                                                                    data-rule-required="true"
                                                                                    data-msg-required="*Password Required"/>

                        </div>
                        <div class="mb-6 form-group">
                            <input type="button" id="btnncat" onclick="AdminLogin()" value="SUBMIT"
                                   class="btn btn-dark w-100"/>
                            <div id="error"></div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>