<!DOCTYPE html>
<html lang="">
<head>
    <title>Categories</title>
    <%- include('headerfiles') %>

    <style>
        .error {
            color: red;
        }

        body {
            font-family: 'Nunito', sans-serif;
            /*color: #384047;*/
        }

        .coming-soon > h2 {
            font-size: 1rem;
            /*font-weight: bold;*/
            padding: 3rem;
        }

        .countdown1 {
            font-family: sans-serif;
            color: rgb(2, 2, 2);
            display: inline-block;
            font-weight: 100;
            text-align: center;
            font-size: 13px;
            /*background: #f6f6f6;*/
        }


        .countdown-number1 {
            padding: 0px;
            border-radius: 3px;
            /*background: #f6f6f6;*/
            display: inline-block;
        }

        .countdown-time {
            padding: 3px 6px 3px 0px;
            border-radius: 3px;
            /*background: #f6f6f6;*/
            display: inline-block;
            /*font-weight: bold;*/
        }

        .countdown-text1 {
            display: block;
            padding-top: 2px;
            font-size: 11px;
            color: #090b0b;
            font-weight: bold;
            padding-right: 20px;
        }
        .table-div  {
            height: 250px;
            overflow-y: scroll;
        }


    </style>
    <script>


        function BidData() {

            let pid = localStorage.getItem("pid");

            let http = new XMLHttpRequest();
            http.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    // console.log(JSON.parse(this.response));
                    let data = JSON.parse(this.response);
                    // console.log(this.response);

                    let tableTag = ``;
                    let example = ``;
                    let bidForm = ``;
                    let name = ``;

                    data.forEach(function (value) {
                        name+= ` <h2 class="text-center" style="font-size: 4rem;color: #194681">${value.name}</h2>`
                        tableTag += `
                              ${value.description}
                              <div class="initial-bid mt-3 mb-3 text-dark rounded">
                                <b>Initial Bid : </b><span class="fw-bold" style="font-size: 26px;color: #279301;">${value.price}</span>
                              </div>
                              <div class="update mb-3">
                                Last Update 3 mins ago
                              </div>
                            <div class="timer bod">
<!--                               <span class="border">-->
                                 <section class="coming-soon">
                                    <div>
                                        <h3 class="fw-normal">The Next Winner In</h3>
                                        <div class="countdown countdown1">
                                            <div class="container-day countdown-number1">
                                                <h3 class="day countdown-time">Time :</h3>
                                                <h3 id="tt" class="countdown-text1">Day</h3>
                                            </div>
                                            <div class="container-hour countdown-number1">
                                                <h3 class="hour countdown-time">Time :</h3>
                                                <h3 id="tt" class="countdown-text1">Hrs</h3>
                                            </div>
                                            <div class="container-minute countdown-number1">
                                                <h3 class="minute countdown-time">Time :</h3>
                                                <h3 id="tt" class="countdown-text1">Min</h3>
                                            </div>
                                            <div class="container-second countdown-number1">
                                                <h3 class="second countdown-time">Time :</h3>
                                                <h3 id="tt" class="countdown-text1">Sec</h3>
                                            </div>
                                        </div>
                                    </div>
                                </section>
<!--                                </span>-->
                              </div>
                            </div>`
                        example+=`<img src="../${value.image}" class="rounded" alt="..." height="300px" width="300px"/>`
                        bidForm+=` <form>
                    <div class="form-row align-item-center">
                        <div class="col">
                            <input type="text" class="w-75 px-2 pt-4 pb-4" placeholder="Enter Bid Amount Here" name="amount" id="amount"
                                style="border: 0; height: 36px; padding-bottom: 6px; margin-right: 10px; border-radius: 5px;" >
                            <input type="hidden" name="p_id" id="p_id" class="w-75" value="${value.p_id}">
                            <button type="submit" class="btn btn-lg text-light" onclick="InsertBid()" style="background-color: #279301;margin-bottom: 7px;padding: 0.5rem 3rem">Lock Now</button>
                        </div>
                        <div class="col">
                        </div>
                    </div>
                </form>`

                    });
                    document.getElementById("nm").innerHTML = name;
                    document.getElementById("photoView").innerHTML = tableTag;
                    document.getElementById("pv").innerHTML = example;
                    document.getElementById("bf").innerHTML = bidForm;
                }
            }
            http.open("get", "/users/Bidingview?pid=" + pid, true);
            http.send();
        }


        function getDate() {
            let pid = localStorage.getItem("pid");
            // console.log("PID  - ",pid);
            var http = new XMLHttpRequest();
            http.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    // console.log(JSON.parse(this.response));
                    let eDate = JSON.parse(this.response)
                    // console.log("-------------")
                    // console.log(eDate[0].end_date)
                    localStorage.setItem("endDate", eDate[0].end_date);
                    // countdown();
                }
            }
            http.open("get", "/users/getEndDate?pid=" + pid, true);
            http.send();
        }

        function countdown() {
            let eDate = localStorage.getItem("endDate");
            let end_date = `${eDate[6]}${eDate[7]}${eDate[8]}${eDate[9]}-${eDate[0]}${eDate[1]}-${eDate[3]}${eDate[4]}`
            console.log(end_date)

            // const countDate = new Date("2022-08-30").getTime();
            const countDate = new Date(end_date).getTime();
            const now = new Date().getTime();
            const remainingTime = countDate - now;

            const second = 1000;
            const minute = second * 60;
            const hour = minute * 60;
            const day = hour * 24;

            const textDay = Math.floor(remainingTime / day);
            const textHour = Math.floor((remainingTime % day) / hour);
            const textMinute = Math.floor((remainingTime % hour) / minute);
            const textSecond = Math.floor((remainingTime % minute) / second);

            document.querySelector(".day").innerHTML = ("0" + textDay + " :");
            document.querySelector(".hour").innerHTML = ("0" + textHour + " :").slice(-4);
            document.querySelector(".minute").innerHTML = ("0" + textMinute + " :").slice(-4);
            document.querySelector(".second").innerHTML = ("0" + textSecond).slice(-2);
        }

        setInterval(countdown, 500);


        function InsertBid() {
            var amount = document.getElementById("amount").value;
            var p_id = document.getElementById("p_id").value;

            var formData = new FormData();
            formData.append("amount", amount);
            formData.append("p_id", p_id);


            let httpreq = new XMLHttpRequest();
            httpreq.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    alert(this.response);
                    console.log(this.response)
                    // document.getElementById("bidForm").reset();
                }
            }
            httpreq.open('post', "/users/insertBid", true);
            httpreq.send(formData);

        }


        function BidderData() {
            let pid = localStorage.getItem("pid");
            var http = new XMLHttpRequest();
            http.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    // console.log(JSON.parse(this.response));
                    let data = JSON.parse(this.response);
                    // console.log(this.response);

                    let tableTag = `<table class="table table-hover" style="background-color: rgba(0, 0, 0, 0.068);">
                                    <thead>
                                      <tr>
                                        <th scope="col">#</th>
                                         <th scope="col">Bidder E-mail</th>
                                        <th scope="col">Bid Amount</th>
                                      </tr>
                                    </thead>`
                                    tableTag+=`<tbody>`;
                    data.forEach(function (value, index) {
                                     tableTag+=` <tr>
                                         <th scope="row">${index+1}</th>
                                       <td>${value.u_email}</td>
                                       <td>${value.amount}</td>
                                       `;
                    });
                    tableTag+=`</tbody>
                                   </table>`
                    document.getElementById("bidderView").innerHTML = tableTag;

                }
            }
            http.open("get", "/users/Bidder?pid=" + pid, true);
            http.send();
        }


        function onloadData() {
            BidderData()
            BidData()
            getDate()

        }

    </script>
</head>

<body onload="onloadData()">
<%- include('userheader') %>

<div class="heading mt-4 mb-4">
    <div id="nm"></div>
</div>

<div class="container">
    <div class="row pt-3">
        <div class="col-lg-4 item-name">
          <div id="photoView">
          </div>
        </div>
            <div class="col-lg-4">
                <div class="image text-center" style="border-radius: 50%;">
                    <div id="pv"></div>
                </div>
            </div>
          <div class="col-lg-4 ">
<!--                <h3 class="text-center" style="font-size: 2rem;color: #279301;">Top Bidders Leaderboard</h3>-->
                <div class="table-div">
                <div id="bidderView"></div>
                </div>
          </div>
    </div>
    <div class="row mt-2 pt-2 pb-2 rounded" style="background-color:aliceblue">
        <div class="col">
            <div>
<!--                <h4 class="text-center text-dark mb-3" style="font-size: 26px;color: #279301;">Lock Your Bid</h4>-->
            </div>
            <div class="bidder-add text-center">
                <div id="bf"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>