<!DOCTYPE html>
<html lang="">

<head>
    <title>Categories</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <style>
        .error {
            color: red;
        }

        body {
            font-family: 'Nunito', sans-serif;
            /*color: #384047;*/
        }

        .coming-soon>h2 {
            font-size: 1rem;
            /*font-weight: bold;*/
            padding: 3rem;
        }

        .countdown1 {
            font-family: sans-serif;
            color: rgb(2, 2, 2);
            display: inline-block;
            font-weight: 100;
            text-align: center;
            font-size: 13px;
            /*background: #f6f6f6;*/
        }


        .countdown-number1 {
            padding: 0px;
            border-radius: 3px;
            /*background: #f6f6f6;*/
            display: inline-block;
        }

        .countdown-time {
            padding: 3px 6px 0 0;
            border-radius: 3px;
            /*background: #f6f6f6;*/
            display: inline-block;
            /*font-weight: bold;*/
        }

        .countdown-text1 {
            display: block;
            padding-top: 2px;
            font-size: 11px;
            color: #090b0b;
            font-weight: bold;
            padding-right: 18px;
            padding-left: 16px;
        }

        .table-div {
            height: 300px;
            overflow-y: scroll;
        }
    </style>
    <script src="sweetalert2.all.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>

        function BidData() {
            let pid = localStorage.getItem("pid");

            let http = new XMLHttpRequest();
            http.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    // console.log(JSON.parse(this.response));
                    let data = JSON.parse(this.response);
                    // console.log(this.response);

                    let ProductInfo = ``;
                    let Picture = ``;
                    let bidForm = ``;
                    let HeadingName = ``;

                    data.forEach(function (value) {
                        HeadingName += `<h2 class="text-center" style="font-size: 4rem;color: #194681;margin-bottom: 2rem;">${value.name}</h2>`
                        Picture += `<img src="../${value.image}" alt="" class="img-thumbnail" style="height:240px;">`
                        ProductInfo += `<p style="margin-bottom: 0">${value.description}</p>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-3 col-sm-3">
                                                <div class="initial-bid mt-3 mb-3 text-dark border-end border-danger">
                                                    <b>Initial Bid : </b><span class="fw-bold" style="font-size: 26px;color: #279301;">${value.price}</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-3 col-sm-3" style="align-items: center;display: grid;margin-top: 1rem;">
                                                <div class="update mb-3">
                                                    Last Update 3 mins ago
                                                </div>
                                            </div>
                                        </div>
                            <div class="timer bod">
                                 <section class="coming-soon">
                                    <div>
                                        <h3 class="fw-normal">The Next Winner In</h3>
                                        <div class="countdown countdown1">
                                            <div class="container-day countdown-number1">
                                                <h3 class="day countdown-time">Time :</h3>
                                                <h3 id="tt" class="countdown-text1">Day</h3>
                                            </div>
                                            <div class="container-hour countdown-number1">
                                                <h3 class="hour countdown-time">Time :</h3>
                                                <h3 id="tt" class="countdown-text1">Hrs</h3>
                                            </div>
                                            <div class="container-minute countdown-number1">
                                                <h3 class="minute countdown-time">Time :</h3>
                                                <h3 id="tt" class="countdown-text1">Min</h3>
                                            </div>
                                            <div class="container-second countdown-number1">
                                                <h3 class="second countdown-time">Time :</h3>
                                                <h3 id="tt" class="countdown-text1">Sec</h3>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                              </div>
                            </div>`

                        bidForm += ` <div class="row">
                                       <div class="col">
                                            <h3>Place Bid Here</h3><br>
                                       </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" class="form-control" name="amount" id="amount" placeholder="Enter amount"><br>
                                            <input type="hidden" name="p_id" id="p_id" class="w-75" value="${value.p_id}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <button type="button"  onclick="InsertBid()" class="btn btn-secondary">Place Bid</button>
                                        </div>
                                    </div>`

                    });
                    document.getElementById("Place-Bid").innerHTML = bidForm;
                    document.getElementById("Main-Heading").innerHTML = HeadingName;
                    document.getElementById("Product-info").innerHTML = ProductInfo;
                    document.getElementById("Product-Photo").innerHTML = Picture;

                }
            }
            http.open("get", "/users/Bidingview?pid=" + pid, true);
            http.send();
        }


        function getDate() {
            let pid = localStorage.getItem("pid");
            var http = new XMLHttpRequest();
            http.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    let eDate = JSON.parse(this.response)
                    localStorage.setItem("endDate", eDate[0].end_date);
                }
            }
            http.open("get", "/users/getEndDate?pid=" + pid, true);
            http.send();
        }

        function countdown() {
            let eDate = localStorage.getItem("endDate");
            let end_date = `${eDate[6]}${eDate[7]}${eDate[8]}${eDate[9]}-${eDate[0]}${eDate[1]}-${eDate[3]}${eDate[4]}`
            // console.log(end_date)

            // const countDate = new Date("2022-08-30").getTime();
            const countDate = new Date(end_date).getTime();
            const now = new Date().getTime();
            const remainingTime = countDate - now;

            const second = 1000;
            const minute = second * 60;
            const hour = minute * 60;
            const day = hour * 24;

            const textDay = Math.floor(remainingTime / day);
            const textHour = Math.floor((remainingTime % day) / hour);
            const textMinute = Math.floor((remainingTime % hour) / minute);
            const textSecond = Math.floor((remainingTime % minute) / second);

            document.querySelector(".day").innerHTML = textDay > "0" ? textDay : "0";
            document.querySelector(".hour").innerHTML = textHour > "0" ? textHour : "0";
            document.querySelector(".minute").innerHTML = textMinute > "0" ? textMinute : "0";
            document.querySelector(".second").innerHTML = textSecond > "0" ? textSecond : "0";
        }

        setInterval(countdown, 500);


        function InsertBid() {
            let amount = document.getElementById("amount").value;
            let p_id = document.getElementById("p_id").value;

            let formData = new FormData();
            formData.append("amount", amount);
            formData.append("p_id", p_id);

            let httpreq = new XMLHttpRequest();
            httpreq.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    if (this.response === "lowAmount") {
                        alert("Hey! You enter a low amount ");
                    } else if (this.response === "BidClosed") {
                        alert("Hey! Bid is already closed");
                    } else {
                        alert("Bid Inserted Successfully");
                    }
                }
            }
            httpreq.open('post', "/users/insertBid", true);
            httpreq.send(formData);

        }

        function BidderData() {
            let pid = localStorage.getItem("pid");
            let http = new XMLHttpRequest();
            http.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    let data = JSON.parse(this.response);

                    let tableTag = `<table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">S.no</th>
                                                <th scope="col">Bidder E-mail</th>
                                                <th scope="col">Bid Amount</th>
                                                <th scope="col">Bid Date</th>
                                            </tr>
                                        </thead>`
                    tableTag += `<tbody>`;
                    data.forEach(function (value, index) {
                        tableTag += ` <tr>
                                                    <th scope="row">${index + 1}</th>
                                                    <td>${value.u_email}</td>
                                                    <td>${value.amount}</td>
                                                    <td>${value.curr_date}</td>
                                                   </tr>`;
                    });
                    tableTag += `</tbody></table>`
                    document.getElementById("bidderView").innerHTML = tableTag;
                }
            }
            http.open("get", "/users/Bidder?pid=" + pid, true);
            http.send();
        }


        function onloadData() {
            BidderData()
            BidData()
            getDate()

        }

    </script>
</head>

<body onload="onloadData()" style="background-color: aliceblue;">
    <%- include('userheader') %>
        <div class="container mt-3">
            <div class="row">
                <div class="col">
                    <div id="Main-Heading"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-lg-3 col-md-2 col-sm-3">
                    <div id="Product-Photo"></div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div id="Product-info"></div>
                </div>

                <div class="col-lg-3">
                    <div id="Place-Bid"></div>
                </div>
            </div>

            <div class="container mt-3" style="overflow-x: auto !important;">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div id="bidderView"></div>
                    </div>
                </div>
            </div>
        </div>
</body>
<script src="sweetalert2.all.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</html>