
<link rel="stylesheet" href="/stylesheets/home-footer.css">
<!-- <link rel="stylesheet" href="/style-sheet/cssfile.css"> -->
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>

<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,700&display=swap"
      rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.5/umd/popper.min.js"
        integrity="sha512-8cU710tp3iH9RniUh6fq5zJsGnjLzOWLWdZqBMLtqaoZUA6AWIE34lwMB3ipUNiTBP5jEZKY95SfbNnQ8cCKvA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<footer>
    <div class="main-content">
        <div class="left box">
            <h2>Auctions On BidFire</h2>
            <div class="content">
                <p>
                    </h3><a href="product-details.aspx?pid=62">KTM DUKE 200<i>|</i></a><a
                            href="product-details.aspx?pid=120">Ford Eco Sport <i>|</i></a><a
                            href="product-details.aspx?pid=127">yamaha-Fascino<i>|</i></a><a
                            href="product-details.aspx?pid=129">Maruti
                        Suzuki Baleno<i>|</i></a><a href="product-details.aspx?pid=130">KTM RC 200 <i>|</i></a><a
                            href="product-details.aspx?pid=131">5 star holiday for a couple to DUBAI<i>|</i></a><a
                            href="product-details.aspx?pid=141">KTM DUKE 200<i>|</i></a><a
                            href="product-details.aspx?pid=143">Yamaha YZF
                        R15<i>|</i></a><a href="product-details.aspx?pid=144">Renault KWID <i>|</i></a><a
                            href="product-details.aspx?pid=145">X-BOX ONE with 40' HD TV <i>|</i></a><a
                            href="product-details.aspx?pid=146">Royal Enfield Bullet 350<i>|</i></a><a
                            href="product-details.aspx?pid=147">5
                        star holiday for a couple to DUBAI<i>|</i></a><a href="product-details.aspx?pid=148">Apple
                        Mac Book Air -13-inch
                        i5/4GB/128GB <i>|</i></a><a href="product-details.aspx?pid=149">KTM DUKE 200!!<i>|</i></a><a
                            href="product-details.aspx?pid=150">Mahindra THAR <i>|</i></a><a
                            href="product-details.aspx?pid=151">Honda
                        Dio<i>|</i></a><a href="product-details.aspx?pid=152">Apple Mac Book Air -13-inch
                        i5/4GB/128GB <i>|</i></a><a href="product-details.aspx?pid=153">Maldives- 3 Nights And 4
                        Days, Romance special <i>|</i></a><a href="product-details.aspx?pid=154">Harley Davidson
                        Street 750<i>|</i></a><a href="product-details.aspx?pid=155">Vu 55 Full HD Smart LED TV
                        (55UH8475)<i>|</i></a><a href="product-details.aspx?pid=156"> Sony PlayStation 4, 500 GB
                        Console <i>|</i></a><a href="product-details.aspx?pid=157">Apple TV (4TH
                        Generation)<i>|</i></a><a href="product-details.aspx?pid=158">Apple Mac Book Air -13-inch
                        i5/<i>|</i></a><a href="product-details.aspx?pid=159">Royal Enfield
                        Himalayan<i>|</i></a>

                <div class="social">
                    <a href="https://facebook.com/coding.np"><span class="fab fa-facebook-f"></span></a>
                    <a href="#"><span class="fab fa-twitter"></span></a>
                    <a href="https://instagram.com/coding.np"><span class="fab fa-instagram"></span></a>
                    <a href="https://youtube.com/c/codingnepal"><span class="fab fa-youtube"></span></a>
                </div>
            </div>
        </div>
        <div class="center box">
            <h2>Address</h2>
            <div class="content">
                <div class="place">
                    <span class="fas fa-map-marker-alt"></span>
                    <span class="text">Tarn-Taran India <i>|</i> Batala India</span>
                </div>
                <div class="phone">
                    <span class="fas fa-phone-alt"></span>
                    <span class="text">+917528955331 <i>|</i> +918437361120</span>
                </div>
                <div class="email">
                    <span class="fas fa-envelope"></span>
                    <span class="text">harpalinder12@gmail.com.com </span>
                </div>
            </div>
        </div>
        <div class="right box">
            <h2>Contact us</h2>
            <div class="content">
                <form action="#">
                    <div class="email">
                        <div class="text">Email *</div>
                        <input type="email" required>
                    </div>
                    <div class="msg">
                        <div class="text">Message *</div>
                        <textarea rows="2" cols="25" required></textarea>
                    </div>
                    <div class="btn">
                        <button type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="bottom">
        <center>
            <span class="credit">Created By<a href="#"> BidFire.Com</a> | </span>
            <span class="far fa-copyright"></span><span> 2020 All rights reserved.</span>
        </center>
    </div>
</footer>
