<!DOCTYPE html>
<html lang="">
<head>
    <title>Forget Account Password</title>

    <%- include('headerfiles') %>
    <style>
        .btn:focus, .btn:active {
            outline: none !important;
            box-shadow: none !important;
        }

        .form-control:focus, .form-control:active {
            outline: none !important;
            box-shadow: none !important;
        }

        @media screen and (max-width: 1000px) {
            .fImg{
                display: none !important;
            }
        }

    </style>

    <script>

        function ForgetUserPassword() {
            let password = document.getElementById("password").value;
            let confirm_password = document.getElementById("confirm_password").value;

            if(password === ''){
                alert("Password cannot be null")
                document.getElementById("ForgetPass").reset();
            }else if(confirm_password === ''){
                alert("Password cannot be null")
                document.getElementById("ForgetPass").reset();
            } else{
                let formData = new FormData();
                formData.append("password", password);
                formData.append("confirm_password", confirm_password);

                var http = new XMLHttpRequest();
                http.onreadystatechange = function () {
                    if (this.readyState === 4 && this.status === 200) {
                        if(this.response === 'Data Updated'){
                            alert("Password Updated")
                            document.getElementById("ForgetPass").reset();
                            window.location.href = "/user_login";
                        }
                    }
                }
                http.open("post", "/Forget-Acc-Pass", true);
                http.send(formData);
            }
        }




    </script>

</head>


<body id="cat_body">
<%- include('hompagehead') %>

<div class="container mt-2 mb-2">
    <div class="row">
        <div class="col-lg-5">
            <div class="row">
                <div class="col-lg-12 bg-primary">
                    <p class="bg-primary text-light pt-2 pb-2 mb-0" style=" font-size: 20px;"><b>Forget Account Password</b></p>
                </div>
            </div>
            <form id="ForgetPass">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group mt-3 mb-4">
                            <label for="password">Enter Your New Password</label>
                            <input type="text" name="password" id="password" data-rule-required="true" class="form-control mt-1 mb-1"
                                   data-msg-required="*Password Required" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group mt-3 mb-4">
                            <label for="confirm_password">Confirm Your New Password</label>
                            <input type="password" name="confirm_password" id="confirm_password" data-rule-required="true" class="form-control mt-1 mb-1"
                             data-rule-equalto="#password" required>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-secondary" onclick="ForgetUserPassword()">Update</button>
                </div>
            </div>
            <div id="error"></div>
        </div>

        <div class="col-lg-7">
            <img src="/slider-img-2/dodge.png" class="fImg ms-3" alt="" width="600px" height="400px">
        </div>

    </div>
</div>

<%- include('home-footer') %>

</body>
</html>