<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.0.1/tailwind.min.css'>
    <script>
        function HData() {
            MainData()
            winnerView()
            getDate()
        }
    </script>
    <style>
        .btn:focus,.btn:active{outline: none !important; box-shadow: none !important;}
        @media screen and (max-width: 1100px) {
            .live-auction-banner{
                display: none !important;
            }
        }
        .countdown1 {
            font-family: sans-serif;
            color: rgb(2, 2, 2);
            display: inline-block;
            font-weight: 100;
            text-align: center;
            font-size: 1px;
            /*background: #f6f6f6;*/
        }


        .countdown-number1 {
            padding: 0px;
            border-radius: 3px;
            /*background: #f6f6f6;*/
            display: inline-block;
        }

        .countdown-time {
            padding: 3px 5px 3px 0px;
            border-radius: 3px;
            font-size: 1rem;
            /*background: #f6f6f6;*/
            display: inline-block;
            /*font-weight: bold;*/
        }

        .countdown-text1 {
            display: block;
            padding-top: 2px;
            font-size: 11px;
            color: #090b0b;
            font-weight: bold;
            padding-right: 13px;
            padding-left: 8px;
        }
        /*.row {*/
        /*    --bs-gutter-x: 1px;*/
        /*}*/
    </style>

</head>

<body onload="HData()">

<%- include('hompagehead') %>

<!-- carousel  -->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-interval="10000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="col-lg-12 col-md-12 col-xs-12" style="padding: 0;">
                <div class="container-fluid no-margin" style="position: relative;padding:0;">
                    <div class="hero-section hero-image" id="main" style="padding-bottom: 0;margin: 0;">
                        <div id="banner-color">
                            <div class="container-fluid text-container"
                                 style="padding:2%;height:100%;max-width: 95%;">
                                <h1 class="top-text" style="margin-bottom:2rem">
                                        <span class="main-content-1">
                                            100% Online Auto Auctions
                                        </span><br>
                                    <span class="main-content-2">
                                            Over <span style="color: #ffb838;font-size: 32px;font-weight: 900;">3
                                                Million</span>
                                            Used, Wholesale and Repairable Cars, Trucks & SUVs sold per year!
                                        </span>
                                </h1>
                                <div class="box" style="display: flex;margin-bottom: 1rem;">
                                    <div class="steps-box">
                                        <h3 style="margin:1.2rem 0 1.2rem 0;">
                                                <span class="round-circle">
                                                    1
                                                </span>
                                            <span class="m-text" style="margin-left: 10px;">
                                                    Register
                                                </span>
                                        </h3>
                                        <p class="p-text" style="margin-bottom: 1rem;font-size:16px;">
                                            Sign up for a Copart Basic or Premier Membership.
                                        </p>
                                    </div>
                                    <div class="steps-box">
                                        <h3 style="margin:1.2rem 0 1.2rem 0;">
                                                <span class="round-circle">
                                                    2
                                                </span>
                                            <span class="m-text" style="margin-left: 10px;">
                                                    Find
                                                </span>
                                        </h3>
                                        <p class="p-text" style="margin-bottom: 1rem;font-size:16px;">
                                            Search our inventory of more than <span
                                                    style="color: #ffb838;font-weight: 900;">339,236</span> used &
                                            repairable
                                            vehicles.
                                        </p>
                                    </div>
                                    <div class="steps-box">
                                        <h3 style="margin:1.2rem 0 1.2rem 0;">
                                                <span class="round-circle">
                                                    3
                                                </span>
                                            <span class="m-text" style="margin-left: 10px;">
                                                    Bid
                                                </span>
                                        </h3>
                                        <p class="p-text" style="margin-bottom: 1rem;font-size:16px;">
                                            Bid on daily auto auctions Monday–Friday
                                        </p>
                                    </div>
                                </div>
                                <a href=""><button type="button" class="hero-btn">Register to start
                                        bidding</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="col-lg-12 col-md-12 col-xs-12" style="padding: 0;">
                <div class="container-fluid no-margin" style="position: relative;padding:0;">
                    <div class="hero-section2 hero-image2" id="main2" style="padding-bottom: 0;margin: 0;">
                        <div id="banner-color2">
                            <div class="container-fluid text-container"
                                 style="padding:2%;height:100%;max-width: 95%;">
                                <h1 class="hero-h1" style="color: #151317; font-size: 30px !important">
                                    <a href="./select"><img alt="CopartSelect"
                                                            src="/images/main-logo.png"
                                                            class="img-responsive heading-img"
                                                            style="max-width: 400px;display: block;margin-bottom: 10px;height: 4.7rem;"></a>
                                    Our best inventory of Cars, Trucks &amp; SUVs
                                </h1>

                                <div class="box2">
                                    <div class="steps-box2">
                                        <div>
                                            <img class="img-responsive" alt="Clean Title"
                                                 src="https://www.copart.com/content/images/cslp/clean-title.png"
                                                 style="max-width: 50px">
                                        </div>
                                        <h4
                                                style="color: #151317 !important;margin: auto;padding: 8px 8px 6px 6px;">
                                            Clean Title
                                        </h4>
                                    </div>
                                    <div class="steps-box2">
                                        <div>
                                            <img class="img-responsive" alt="Lower Mileage"
                                                 src="https://www.copart.com/content/images/cslp/lower-milage.png"
                                                 style="max-width: 50px">
                                        </div>
                                        <h4
                                                style="color: #151317 !important;margin: auto;padding: 8px 8px 6px 6px;">
                                            Lower Mileage
                                        </h4>
                                    </div>

                                    <div class="steps-box2">
                                        <div>
                                            <img class="img-responsive" alt="Little to No Damage"
                                                 src="https://www.copart.com/content/images/cslp/litle-no-damage.png"
                                                 style="max-width: 50px">
                                        </div>
                                        <h4
                                                style="color: #151317 !important;margin: auto;padding: 8px 8px 6px 6px;">
                                            Little to No Damage
                                        </h4>
                                    </div>
                                </div>
                                <div>
                                    <a class="btn btn-newhero " id="btn-blue" href="" role="button"
                                       target="_self" style="margin: 20px 1% 20px 1%;padding: 10px 40px !important;font-size: 18px;
                                        border-radius: 50px;">View Select Inventory&nbsp;›</a>
                                    <a class="btn btn-newhero " href="" id="btn-yellow"
                                       role="button" target="_self" style="margin: 20px 1% 20px 1%;padding: 10px 40px !important;font-size: 18px;
                                        border-radius: 50px;">
                                        Learn More&nbsp;›</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" style="background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
        background-repeat: repeat-x;justify-content: start;">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" style="    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
        background-repeat: repeat-x;">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>

<div class="live-auction-banner" style="right: 0; position: absolute">
    <div class="btn-green live-auctions" style="padding: 11px 35px 11px 35px;padding-right: 6vw;border-radius: 10px 10px 10px 10px;bottom: 25px;
        z-index: 1;
        position: relative;
        background-color: #279301 !important;">
        <p class="auction-text">
            <a class="aution-link" href="./auctionDashboard"><span>49</span>
                Live Auto
                Auctions Happening Now! <strong>›</strong></a>
        </p>
    </div>
</div>

<!--Main Cards-->



<!--Main Card End-->
<div class="container">
    <br><h4 style="color: #0457d4;font-size: 2.5rem;margin-top: 1rem;">Featured Products</h4><br>
</div>


<div class="antialiased font-sans">
    <div class="max-w-6xl mx-auto" style="max-width: 82rem !important;">
        <div class="flex min-h-screen">
            <div id="pView" class="flex min-h-screen" style="flex-wrap: wrap;justify-content: space-around;"></div>
        </div>
    </div>
</div>





<!--Winners Cards-->
<div class=" container new-arrivals pt-4 mb-3">
    <div class="head mt-5 " data-aos="">
        <h4 style="color: #0457d4;font-size: 2.5rem;margin-top: 1rem;">Recent Winners</h4>

    </div>
    <div class=" container table-container">
        <table class="table table-bordered text-center mt-3">
            <thead>
            <tr>
            <th scope="col" class="text-light" style="background-color: #2a2185;">First</th>
            <th scope="col">Painting</th>
            <th scope="col">Vehicle</th>
            <th scope="col">Accessories</th>
            </tr>
            </thead>
        </table>
    </div>
</div>




<div class="container">
    <div class="row" id="ads">
        <!-- Category Card -->
        <div id="winner"></div>
        <div id="wView"></div>
    </div>
</div>




<!-- Newsletter  -->
<div class="newsletter mt-5" style="margin-bottom: 2rem;">
    <div class="container" style="background-color: aliceblue;padding: 1rem;border-radius: 0.3rem;">
        <div class="row">
            <div class="col-lg-6">
                <h5><b>Newsletter</b></h5>
                <p>Subscribe to our newsletter and get flat 20% off on your first purchase</p>
            </div>

            <div class="col-lg-4" style="margin-top:1.3rem">
                <form action="">
                    <input type="email" class="form-control" id="exampleInputEmail1 pla"
                           placeholder="example@gmail.com" aria-describedby="emailHelp">
                </form>
            </div>
            <div class="col button" style="margin-top:1.3rem">
                <button type="submit" class="btn btn-primary">Subscribe</button>
            </div>
        </div>
    </div>
</div>


    <!--Winners Cards End-->
<!--    footer-->
    <%- include('home-footer') %>

    <!-- Footer -->

    <script>

        let id_Arr = [];
        let id_Obj = {}

        function MainData() {
            var http = new XMLHttpRequest();
            http.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    // console.log(JSON.parse(this.response));
                    let data = JSON.parse(this.response);
                    // console.log(this.response);
                    let tableTag = '';
                    let item = ``;
                    data.forEach(function (value) {
                        id_Obj['p_id'] = value.p_id;
                        id_Obj['end_date'] = value.end_date;

                        id_Arr.push({...id_Obj});
                        tableTag += `<div class="max-w-sm w-full sm:w-1/2 lg:w-1/3 py-6 px-3 ">
    <div class="rounded-lg overflow-hidden bg-gray-100">
    <div class="badge-promo">
                            <span class="badge-promo-content">${value.status}</span>
                        </div>
        <div class="bg-cover bg-center h-56 p-2"
             style="background-image: url(../${value.image})">
            <div class="flex justify-end">
                <span class="fs-6 text-muted">( <i class="fa-solid fa-eye"></i> ${value.p_id} )</span>

            </div>
        </div>
        <div class="p-2">
            <p class="uppercase tracking-wide text-sm font-bold text-gray-700 m-0 pb-2">${value.name}
            </p>
            <p class="text-3xl text-gray-900 m-0 pb-2" style="color: #279301;">&#8377;${value.price}</p>
            <p class="text-gray-700 m-0 pb-2"><i class="bi bi-geo-alt"></i> Location: ${value.location}</p>
        </div>
        <div class="flex px-4 border-t border-gray-300 text-gray-700">
            <div class="flex-1 inline-flex items-center">
                <i class="bi bi-shield-check" style="font-size: 1.5rem"></i>
                  <p class="m-0">Security</p>
            </div>
            <div class="flex-1 inline-flex items-center">
                <i class="bi bi-hand-thumbs-up" style="font-size: 1.5rem"></i>
                <p class="m-0"> High Qality</p>
            </div>
        </div>
        <div class=" border-t pt-2 border-gray-300 bg-gray-100">
            <div class="flex items-center">
                <div class="timer">
                    <section class="coming-soon1">
                        <div>
                            <div class="countdown countdown1">
                                <div class="container-day countdown-number1">
                                    <h3 class="day countdown-time" id="day${value.p_id}">Time :</h3>
                                    <h3 id="tt" class="countdown-text1">Day</h3>
                                </div>
                                <div class="container-hour countdown-number1">
                                    <h3 class="hour countdown-time" id="hour${value.p_id}">Time :</h3>
                                    <h3 id="tt" class="countdown-text1">Hrs</h3>
                                </div>
                                <div class="container-minute countdown-number1">
                                    <h3 class="minute countdown-time" id="minute${value.p_id}">Time :</h3>
                                    <h3 id="tt" class="countdown-text1">Min</h3>
                                </div>
                                <div class="container-second countdown-number1">
                                    <h3 class="second countdown-time" id="second${value.p_id}">Time :</h3>
                                    <h3 id="tt" class="countdown-text1">Sec</h3>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <a class="ad-btn" href="#">Bid Now</a>
            </div>
        </div>
    </div>
</div>`
                    });
                    document.getElementById("pView").innerHTML = tableTag;
                    countdown(id_Arr);
                    getDate(id_Arr);
                }
            }
            http.open("get", "/users/mainView", true);
            http.send();
        }


        function getDate(array) {
            array.map((value) => {
                let {p_id} = value;
                // let pid = localStorage.getItem("pid");
                let http = new XMLHttpRequest();
                http.onreadystatechange = function () {
                    if (this.readyState === 4 && this.status === 200) {
                        let eDate = JSON.parse(this.response)
                        localStorage.setItem("endDate", eDate[0].end_date);
                    }
                }
                http.open("get", "/users/getEndDate?pid=" + p_id, true);
                http.send();
            });
        }

        $(document).ready(() => {
            setInterval(() => {
                getDate(id_Arr);
                countdown(id_Arr);
            },100);
        });


        function countdown(array) {
            let aa = ``;
            array.map((value) => {
                let {p_id, end_date} = value;
                if (end_date !== null) {
                    let eDate = end_date;
                    let endDate = `${eDate[6]}${eDate[7]}${eDate[8]}${eDate[9]}-${eDate[0]}${eDate[1]}-${eDate[3]}${eDate[4]}`
                    const countDate = new Date(endDate).getTime();
                    const now = new Date().getTime();
                    let remainingTime = countDate - now;
                    console.log("=========",remainingTime)

                    if(remainingTime < 0){
                        aa+=`<h4>hello</h4>`
                    }

                    // if (remainingTime.total <= 0) {
                    //     clearInterval();
                    //     var deadline = new Date(Date.parse(new Date().getTime()) + 6 * 1000);
                    //     countdown('countdown-main', deadline);
                    // }

                    const second = 1000;
                    const minute = second * 60;
                    const hour = minute * 60;
                    const day = hour * 24;

                    const textDay = Math.floor(remainingTime / day);
                    const textHour = Math.floor((remainingTime % day) / hour);
                    const textMinute = Math.floor((remainingTime % hour) / minute);
                    const textSecond = Math.floor((remainingTime % minute) / second);

                    document.getElementById(`day${p_id}`).innerHTML = textDay > "0" ? textDay : "0" ;
                    document.getElementById(`hour${p_id}`).innerHTML = textHour > "0" ? textHour : "0";
                    document.getElementById(`minute${p_id}`).innerHTML = textMinute > "0" ? textMinute : "0";
                    document.getElementById(`second${p_id}`).innerHTML = textSecond > "0" ? textSecond : "0";
                }
            });
        }



        function winnerView() {
            var http = new XMLHttpRequest();
            http.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    let error = ``;
                    let tableTag = '';
                   if(this.response === "No Data Found"){
                       error+=` <div class="text-center alert-danger p-5 mt-5">
                           <h6 class="">No Data Found.</h6>
                   </div>`
                   }else {
                       let data = JSON.parse(this.response);
                       data.forEach(function (value) {
                           tableTag += `         <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mt-3">
            <div class="card">
                <div class="card-image">
                    <div class="badge-promo">
                            <span class="badge-promo-content">
                                Winner
                            </span>
                    </div>
                    <img class="img-fluid"
                         src="https://imageonthefly.autodatadirect.com/images/?USER=eDealer&PW=edealer872&IMG=USC80HOC011A021001.jpg&width=440&height=262"
                         alt="Alternate Text" />
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>${value.name}</h5>
                        <h6>Bid Winning Amount</h6>
                         <h6>${value.product_amount}</h6>
                        <h6>Bid Ending Date</h6>
                        <h6>${value.end_date}e</h6>
                    </div>
                </div>
            </div>
        </div>`
                       });
                   }
                        document.getElementById("winner").innerHTML = error;
                       document.getElementById("wView").innerHTML = tableTag;

                   }

                   }

            http.open("get", "/users/WinnerView", true);
            http.send();
        }

    </script>


<!--</div>-->
</body>
</html>