<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/home-slider.css">
    <link rel="stylesheet" href="/stylesheets/home.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
          integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
          crossorigin="anonymous" referrerpolicy="no-referrer">

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script>
        function HData() {
            MainData()
            getDate()
        }
    </script>

</head>

<body onload="HData()">
<%- include('hompagehead') %>

<div class="content head-content" data-aos="zoom">
    <div class="head-image" style="position: relative;">

    </div>

    <div style="background-color:  #1f2833;">
        <div class="container-fluid  mb-1 " style="padding:0 0 0 0">
            <div class="slider2">
                <!-- fade css -->
                <div class="myslide2 fade2">
                    <div class="txt">
                        <h1><a class="btn1 btn-dark b-home" href="" style="padding: 12px 8px 12px 8px;background-color: #bc6539d3;
                     border-radius: 7px; color: white">Start Bidding Now</a></h1>
                        <p class="display-4 lead">Bid to Win<br><span class="text-primary font-weight-bolds">
                                Highest & Unique</span> Bid to Unpack Your Dreams</p>
                    </div>
                    <img src="/images/slider8.jpg" style="width: 100%; height: 100%; " alt="">
                </div>

                <div class="myslide2 fade2">
                    <div class="txt">
                        <h1><a class="btn btn-dark b-home" href="" style="padding: 12px 8px 12px 8px;background-color: #bc6539d3;
                     border-radius: 7px;">Start Bidding Now</a></h1>
                        <p class="display-4 lead">Bid to Win<br><span class="text-primary font-weight-bolds">
                                Highest & Unique</span> Bid to Unpack Your Dreams</p>
                    </div>
                    <img src="/images/expanding-card-img3.jpg" style="width: 100%; height: 100%;" alt="">
                </div>

                <div class="myslide2 fade2">
                    <div class="txt">
                        <h1><a class="btn btn-dark b-home" href="" style="padding: 12px 8px 12px 8px;background-color: #bc6539d3;
                     border-radius: 7px;">Start Bidding Now</a></h1>
                        <p class="display-4 lead">Bid to Win<br><span class="text-primary font-weight-bolds">
                                Highest & Unique</span> Bid to Unpack Your Dreams</p>
                    </div>
                    <img src="/images/slider2 (2).jpg" style="width: 100%; height: 100%;" alt="">
                </div>

                <div class="myslide2 fade2">
                    <div class="txt">
                        <h1><a class="btn btn-dark b-home" href="" style="padding: 12px 8px 12px 8px;background-color: #bc6539d3;
                     border-radius: 7px;">Start Bidding Now</a></h1>
                        <p class="display-4 lead">Bid to Win<br><span class="text-primary font-weight-bolds">
                                Highest & Unique</span> Bid to Unpack Your Dreams</p>
                    </div>
                    <img src="/images/slider1.jpg" style="width: 100%; height: 100%;" alt="">
                </div>
                <!-- /fade css -->

                <!-- onclick js -->
                <!--            <a class="prev1" style="color:#00a7ff" onclick="plusSlides(-1)">&#10094;</a>-->
                <!--            <a class="next1" style="color:#00a7ff" onclick="plusSlides(1)">&#10095;</a>-->

                <div class="dotsbox" style="text-align:center">
                    <span class="dot2" onclick="currentSlide(1)"></span>
                    <span class="dot2" onclick="currentSlide(2)"></span>
                    <span class="dot2" onclick="currentSlide(3)"></span>
                    <span class="dot2" onclick="currentSlide(4)"></span>
                </div>
                <!-- /onclick js -->
            </div>


        </div>
    </div>


    <div class="top-tag  pt-3 roundend" data-aos="zoom-in">
        <div class="container">
            <div class="row benifit-row ">
                <div class="col benifit-col">
                    <div class="benefit-item d-flex flex-row align-item-center">
                        <div class="benifit-icon">
                            <i class="fa-solid fa-gears"> </i>
                        </div>
                        <div class="benifit-content mx-2">
                            <h6><b>Settings</b></h6>
                            <p>Suffered alteration </p>
                        </div>


                    </div>
                </div>
                <div class="col benifit-col">
                    <div class="benefit-item d-flex flex-row align-item-center">
                        <div class="benifit-icon">
                            <i class="fa-solid fa-gears"></i>
                        </div>
                        <div class="benifit-content mx-2">
                            <h6><b> Settings</b></h6>
                            <p>Suffered alteration </p>
                        </div>
                    </div>
                </div>
                <div class="col benifit-col">
                    <div class="benefit-item d-flex flex-row align-item-center">
                        <div class="benifit-icon">
                            <i class="fa-solid fa-gears"></i>
                        </div>
                        <div class="benifit-content mx-2">
                            <h6><b>Settings</b></h6>
                            <p>Suffered alteration </p>
                        </div>
                    </div>
                </div>
                <div class="col benifit-col">
                    <div class="benefit-item d-flex flex-row align-item-center">
                        <div class="benifit-icon">
                            <i class="fa-solid fa-gears"></i>
                        </div>
                        <div class="benifit-content mx-2">
                            <h6><b> Settings</b></h6>
                            <p>Suffered alteration </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="top-heading text-center pt-4 pb-3" data-aos="slide-right">
        <h2><u><b>Freatured</b>Products</u></h2>
    </div>

    <div class="content container mt-4 mx-6 mb-9 " data-aos="zoom-in">

        <div class="col col-sm-12">
            <div class=" row justify-content-around align-items-center">

                <div id="pView"></div>

            </div>
        </div>
    </div>

    <div class="new-arrivals pt-4">
        <div class="head text-center" data-aos="slide-right">
            <h1><u> <b>Newly</b>Added </u>
            </h1>

        </div>
        <div class="container table-container">
            <table class="table table-bordered text-center mt-3">
                <thead>
                <tr>
                    <!-- <th scope="col">#</th> -->
                    <th scope="col" class="bg-primary text-light">First</th>
                    <th scope="col">Painting</th>
                    <th scope="col">Vehicle</th>
                    <th scope="col">Accessories</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>


    <div class="content container mt-4 mx-auto  mb-9 align-item-center justify-content-center new-container"
         data-aos="fade-right">


        <div class=" d-flex row justify-content-around align-items-end justify-content-lg-around justify-content-xl-center justify-content-md-center new-container-row">

            <div class="col-8 col-lg-6 col-md-6 col-sm-12 col-xl-3 arrivals-card mb-2 mt-2">
                <div class=" page-wrapper" style="padding: 0;width: 160px;">
                    <div class="page-inner">
                        <!-- <div class="row"> -->
                        <div class="el-wrapper mx-auto px-auto">
                            <div class="box-up">
                                <img class="img" src="/assests/images/rolex.avif" alt="">
                                <div class="img-info">
                                    <div class="info-inner">
                                        <span class="p-name">ROLEX DAY-DATE</span>
                                        <span class="p-company">THE REALIZATION OF AN IDEAL</span>
                                    </div>
                                </div>
                            </div>

                            <div class="box-down">
                                <div class="h-bg">
                                    <div class="h-bg-inner"></div>
                                </div>

                                <a class="cart" href="#">
                                    <span class="price">$120</span>
                                    <span class="add-to-cart">
                                            <span class="txt">Add in cart</span>
                                        </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8 col-lg-6 col-md-6 col-sm-12 arrivals-card col-xl-3 mb-2">
                <div class=" page-wrapper" style="padding: 0;width: 160px;">
                    <div class="page-inner">
                        <!-- <div class="row"> -->
                        <div class="el-wrapper mx-auto px-auto">
                            <div class="box-up">
                                <img class="img" src="/assests/images/rolex.avif" alt="">
                                <div class="img-info">
                                    <div class="info-inner">
                                        <span class="p-name">ROLEX DAY-DATE</span>
                                        <span class="p-company">THE REALIZATION OF AN IDEAL</span>
                                    </div>
                                </div>
                            </div>

                            <div class="box-down">
                                <div class="h-bg">
                                    <div class="h-bg-inner"></div>
                                </div>

                                <a class="cart" href="#">
                                    <span class="price">$120</span>
                                    <span class="add-to-cart">
                                            <span class="txt">Add in cart</span>
                                        </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8 col-lg-6 col-md-6 col-sm-12 arrivals-card col-xl-3 mb-2">
                <div class=" page-wrapper" style="padding: 0;width: 160px;">
                    <div class="page-inner">
                        <!-- <div class="row"> -->
                        <div class="el-wrapper mx-auto px-auto">
                            <div class="box-up">
                                <img class="img" src="/assests/images/rolex.avif" alt="">
                                <div class="img-info">
                                    <div class="info-inner">
                                        <span class="p-name">ROLEX DAY-DATE</span>
                                        <span class="p-company">THE REALIZATION OF AN IDEAL</span>
                                    </div>
                                </div>
                            </div>

                            <div class="box-down">
                                <div class="h-bg">
                                    <div class="h-bg-inner"></div>
                                </div>

                                <a class="cart" href="#">
                                    <span class="price">$120</span>
                                    <span class="add-to-cart">
                                            <span class="txt">Add in cart</span>
                                        </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-8 col-lg-6 col-md-6 col-sm-12 arrivals-card  col-xl-3 mb-2">
                <div class=" page-wrapper" style="padding: 0;width: 160px;">
                    <div class="page-inner">
                        <!-- <div class="row"> -->
                        <div class="el-wrapper mx-auto px-auto">
                            <div class="box-up">
                                <img class="img" src="/assests/images/rolex.avif" alt="">
                                <div class="img-info">
                                    <div class="info-inner">
                                        <span class="p-name">ROLEX DAY-DATE</span>
                                        <span class="p-company">THE REALIZATION OF AN IDEAL</span>
                                    </div>
                                </div>
                            </div>

                            <div class="box-down">
                                <div class="h-bg">
                                    <div class="h-bg-inner"></div>
                                </div>

                                <a class="cart" href="#">
                                    <span class="price">$120</span>
                                    <span class="add-to-cart">
                                            <span class="txt">Add in cart</span>
                                        </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-5 " data-aos="flip-right">

        <img src="/assests/images/cruise.jpg" alt="" width="100%" height="440px" style="position: relative;">
        <div class="bottom-left  photo-text"
             style=" position: absolute;bottom: 15%;left: 16px; color:white; padding-left:20px ">

            <h2 class="responsive-font-example">Limited Time Offer Ends In</h2>
            <div class="timer" style="font-weight:400;font-size:38px">
                11:20:38
            </div>
            <button type="button" class="btn btn-primary my-4 ">Grab Now</button>
        </div>
    </div>

    <div class="benifits mt-5  py-3 roundend">
        <div class="container ">
            <div class="row benifit-row ">
                <div class="col-lg-3 benifit-col">
                    <div class="benefit-item d-flex flex-row align-item-center">
                        <div class="benifit-icon">
                            <lord-icon src="https://cdn.lordicon.com/iejknaed.json" trigger="hover"
                                       colors="outline:#121331,primary:#3a3347,secondary:#e83a30,tertiary:#ebe6ef,quaternary:#646e78"
                                       style="width:60px;height:60px">
                            </lord-icon>
                        </div>
                        <div class="benifit-content">
                            <h6>Free Shipping</h6>
                            <p>Suffered alteration in Some Stores</p>
                        </div>


                    </div>
                </div>
                <div class="col-lg-3 benifit-col">
                    <div class="benefit-item d-flex flex-row align-item-center">
                        <div class="benifit-icon">
                            <lord-icon
                                    src="https://cdn.lordicon.com/qnlcdeqi.json"
                                    trigger="hover"
                                    colors="primary:#ffffff,secondary:#f4a09c,tertiary:#e8b730"
                                    style="width:65px;height:65px">
                            </lord-icon>
                        </div>
                        <div class="benifit-content">
                            <h6>Extra Savings</h6>
                            <p>The Internet Tend To Repeat</p>
                        </div>


                    </div>
                </div>
                <div class="col-lg-3 benifit-col">
                    <div class="benefit-item d-flex flex-row align-item-center">
                        <div class="benifit-icon">
                            <lord-icon
                                    src="https://cdn.lordicon.com/mgmiqlge.json"
                                    trigger="hover"
                                    colors="primary:#3a3347,secondary:#f24c00,tertiary:#242424,quaternary:#ebe6ef"
                                    style="width:65px;height:65px">
                            </lord-icon>

                        </div>
                        <div class="benifit-content">
                            <h6>24X7 Sersvice</h6>
                            <p>Best User Experience During Office Hours</p>
                        </div>


                    </div>
                </div>
                <div class="col-lg-3 benifit-col">
                    <div class="benefit-item d-flex flex-row align-item-center">
                        <div class="benifit-icon">
                            <lord-icon src="https://cdn.lordicon.com/yhtqafjk.json" trigger="hover"
                                       colors="primary:#121331,secondary:#e83a30,tertiary:#ebe6ef"
                                       style="width:65px;height:65px">
                            </lord-icon>
                        </div>
                        <div class="benifit-content">
                            <h6>Excange Offers</h6>
                            <p>Alterations On Specific Items </p>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="newsletter mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h5><b>Newsletter</b></h5>
                    <p>Subscribe to our newsletter and get flat 20% off on your first purchase</p>
                </div>

                <div class="col-lg-4">
                    <form action="">
                        <input type="email" class="form-control" id="exampleInputEmail1 pla"
                               placeholder="example@gmail.com" aria-describedby="emailHelp">
                    </form>
                </div>
                <div class="col button">

                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">
        <!-- Section: Social media -->
        <section class=" social-media d-flex justify-content-center justify-content-lg-between p-4 border-bottom ">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block px-3">
                <span>Get connected with us on social networks:</span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>Company name
                        </h6>
                        <p>
                            Here you can use rows and columns to organize your footer content. Lorem ipsum
                            dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Products
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Angular</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">React</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Vue</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Laravel</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Useful links
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Pricing</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Settings</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Orders</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Help</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            info@example.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                        <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

    <script>

        function MainData() {
            var http = new XMLHttpRequest();
            http.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    // console.log(JSON.parse(this.response));
                    var data = JSON.parse(this.response);
                    // console.log(this.response);
                    let tableTag = '';
                    data.forEach(function (value) {
                        tableTag += `          <div class=" card container-cards" style="display: inline-block;max-width: 21rem;border-radius: 10px">
                    <img src="../${value.image}" height=200px width="300px"  alt="..."
                        style="border-top-right-radius: 10px;border-top-left-radius: 10px;">
                    <div class="card-body">
                        <h5 class="card-title">${value.name}</h5>
                        <div class="lh-1 d-flex align-items-center "><span class="text-warning me-1 mb-1">
                                <svg viewBox="0 0 24 24" role="presentation" style="width: 0.875rem; height: 0.875rem;">
                                    <path style="fill: currentcolor;"></path>
                                </svg><svg viewBox="0 0 24 24" role="presentation"
                                    style="width: 0.875rem; height: 0.875rem;">
                                    <path
                                        d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"
                                        style="fill: currentcolor;"></path>
                                </svg><svg viewBox="0 0 24 24" role="presentation"
                                    style="width: 0.875rem; height: 0.875rem;">
                                    <path
                                        d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"
                                        style="fill: currentcolor;"></path>
                                </svg><svg viewBox="0 0 24 24" role="presentation"
                                    style="width: 0.875rem; height: 0.875rem;">
                                    <path
                                        d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"
                                        style="fill: currentcolor;"></path>
                                </svg><svg viewBox="0 0 24 24" role="presentation"
                                    style="width: 0.875rem; height: 0.875rem;">
                                    <path
                                        d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"
                                        style="fill:#decccc;"></path>
                                </svg></span><span class="text-warning me-1"> 4.0</span><span class="fs-6 text-muted">
                                (${value.p_id})</span></div>
                         <div class="lh-1 mt-3 mb-4"><span class="text-dark">Product Status: ${value.status}</span>
                        </div>
                        <div class="lh-1 mt-3 mb-4"><span class="text-dark fw-bold">Max Bid: &#8377; ${value.price}</span>
                        </div>
                        <div class="card-footer pt-0 pb-0 pr-0 pl-0 mt-1 ml-2">
                            <div class="align-items-center g-0 row">
                            </div>
                            <div class="col ms-2 col justify-content-center pr-2 pl-2 mt-2">

                            <span><a href="" class="btn btn-light ml-1 mb-3 mt-0 pt-2.5 pb-2.5"
                                        style="background-color:rgb(196, 65, 65);color:white;font-size: 1rem">Bid Now</a></span>
                            </div></div></div></div>`
                    });
                    document.getElementById("pView").innerHTML = tableTag;
                }
            }
            http.open("get", "/users/mainView", true);
            http.send();
        }

        // Navigation bar icon script
        $(document).ready(function () {
            $('.btn').click(function () {
                $('.items').toggleClass("show");
                $('ul li').toggleClass("hide");
            });
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        });

        const myslide2 = document.querySelectorAll('.myslide2'),
            dot1 = document.querySelectorAll('.dot2');
        let counter1 = 1;
        slidefun(counter1);
        let timer1 = setInterval(autoSlide, 3000);

        function autoSlide() {
            counter1 += 1;
            slidefun(counter1);
        }

        function plusSlides(n) {
            counter1 += n;
            slidefun(counter1);
            resetTimer();
        }

        function currentSlide(n) {
            counter1 = n;
            slidefun(counter1);
            resetTimer();
        }

        function resetTimer() {
            clearInterval(timer1);
            timer1 = setInterval(autoSlide, 8000);
        }

        function slidefun(n) {
            let i;
            for (i = 0; i < myslide2.length; i++) {
                myslide2[i].style.display = "none";
            }
            for (i = 0; i < dot1.length; i++) {
                dot1[i].className = dot1[i].className.replace(' active', '');
            }
            if (n > myslide2.length) {
                counter1 = 1;
            }
            if (n < 1) {
                counter1 = myslide2.length;
            }
            myslide2[counter1 - 1].style.display = "block";
            dot1[counter1 - 1].className += " active";
        }
    </script>


</div>
</body>


<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({offset: 100, duration: 1100});

</script>

</html>