<div class="container">]
    <div class=" text-center mt-5 ">

        <h1>Bootstrap Contact Form</h1>


    </div>


    <div class="row ">
        <div class="col-lg-7 mx-auto">
            <div class="card mt-2 mx-auto p-4 bg-light">
                <div class="card-body bg-light">

                    <div class="container">
                        <form id="userproductform" role="form">
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_name">Name</label>
                                            <input type="text" name="name" id="name"
                                                   class="form-control" data-rule-required="true"
                                                   placeholder="Enter Name"
                                                   data-msg-required="*Name Required"/>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_lastname">Lastname *</label>
                                            <select name="category" id="category" class="form-control"
                                                    data-rule-required="true" >
                                                <option id="getId"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_email">Email *</label>
                                            <input type="text" name="price" id="price" class="form-control"
                                                   data-rule-required="true"
                                                   data-rule-number="true"
                                                   placeholder="Enter Price"
                                                   data-msg-required="*Required Price"/>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_need">Please specify your need *</label>
                                            <input type="text" name="description" id="description"
                                                   class="form-control" data-rule-required="true"
                                                   placeholder="Enter description"
                                                   data-msg-required="*Description Required"/>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="form_message">Message *</label>
                                            <input type="file" name="image" id="image"
                                                   class="form-control" data-rule-required="true"
                                                   placeholder="Upload Image"
                                                   data-msg-required="*Image Required"/>
                                        </div>

                                    </div>


                                    <div class="col-md-12">

                                        <input type="button" id="btnncat" onclick="InsertUserProduct()" value="SIGNUP"
                                               class="btn btn-primary"/>

                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
