<div class="container mt-2 mb-2">
    <div class="row">
        <div class="col-lg-5">
            <form id="ForgetPass">
                <div class="row">
                    <div class="col-lg-12 bg-primary">
                        <p class="bg-primary text-light" style=" font-size: 20px;"><b>Login To Your Account</b></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group mt-3 mb-4">
                            <label for="email">Enter Your E-mail</label>
                            <input type="email" name="email" id="email" data-rule-required="true" class="form-control mt-1 mb-1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group mt-3 mb-4">
                            <label for="password">Enter Your Old Password</label>
                            <input type="password" name="password" id="password" data-rule-required="true" class="form-control mt-1 mb-1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-secondary" onclick="UserLoginValues()">Login</button>
                    </div>
                </div>
            </form>
            <div id="error"></div>
        </div>

        <div class="col-lg-7">
            <img src="/slider-img-2/dodge.png" class="fImg" alt="" width="600px" height="400px">
        </div>

    </div>
</div>