<div id="countdown1" class="countdown1">
    <div class="countdown-number1">
        <span class="days countdown-time"></span>
        <span class="countdown-text1">DAYS</span>
    </div>
    <div class="countdown-number1">
        <span class="hours countdown-time "></span>
        <span class="countdown-text1">HRS</span>
    </div>
    <div class="countdown-number1">
        <span class="minutes countdown-time"></span>
        <span class="countdown-text1">MIN</span>
    </div>
    <div class="countdown-number1">
        <span class="seconds countdown-time"></span>
        <span class="countdown-text1">SEC</span>
    </div>
</div>

<section class="coming-soon">
    <div>
        <div class="countdown countdown1">
            <div class="container-day countdown-number1">
                <h3 class="day countdown-time">Time</h3>
                <h3 id="tt" class="countdown-text1">Day</h3>
            </div>
            <div class="container-hour countdown-number1">
                <h3 class="hour countdown-time">Time</h3>
                <h3 id="tt" class="countdown-text1">Hrs</h3>
            </div>
            <div class="container-minute countdown-number1">
                <h3 class="minute countdown-time">Time</h3>
                <h3 id="tt" class="countdown-text1">Min</h3>
            </div>
            <div class="container-second countdown-number1">
                <h3 class="second countdown-time">Time</h3>
                <h3 id="tt" class="countdown-text1">Sec</h3>
            </div>
        </div>
    </div>
</section>