<div class="heading text-center mt-2">
    <h2><u><b>Auction</b>Products</u></h2>
    <p>Choose your product, select the number of bids you want to make and play on...</p>
</div>

<!-- container -->
<div class="container-sm">
    <div class="container">
        <div class="row mt-4 bg-light border-bottom">
            <div class="col col-12 text-start col-lg-4 col-md-12 col-sm-6 bg-light ps-0">
                <div class="image">
                    <img src="aa.jpg" class = "rounded"alt="" width="auto" height="320px">
                </div>
            </div>
            <div class="col col-12 justify-center col-lg-4 col-md-4 col-sm-6 bg-light">
                <div class="about-product mt-4">
                    <h3 class="text-center">Rolex Daytona</h3>
                    <div class="description text-center">
                        <p>Lorem ipsum dolor sit Eligendi?</p>
                    </div>
                    <div class="mt-2.4 mb-2.4 text-dark text-center rounded px-2" style="background-color: rgba(0, 0, 0, 0.068);font-size: 1.3rem;">
                        <b>Status</b> : Active
                    </div>

                </div>

                <div class="timer text-center mt-4 ">
                    <section class="coming-soon">
                        <div>
                            <h2> Bid End In</h2>
                            <div class="countdown countdown1">
                                <div class="container-day countdown-number1">
                                    <h3 class="day countdown-time">Time :</h3>
                                    <h3 id="tt" class="countdown-text1">Day</h3>
                                </div>
                                <div class="container-hour countdown-number1">
                                    <h3 class="hour countdown-time">Time :</h3>
                                    <h3 id="tt" class="countdown-text1">Hrs</h3>
                                </div>
                                <div class="container-minute countdown-number1">
                                    <h3 class="minute countdown-time">Time :</h3>
                                    <h3 id="tt" class="countdown-text1">Min</h3>
                                </div>
                                <div class="container-second countdown-number1">
                                    <h3 class="second countdown-time">Time :</h3>
                                    <h3 id="tt" class="countdown-text1">Sec</h3>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>


            <div class="col col-12 col-lg-4 col-md-6 col-sm-12 bg-light">
                <div class="col row mt-4 text-center justify-content-center">
                    <div class="col profile-image">
                        <img src="rr.png" alt="" width="70px" height="70px" class="rounded-circle">

                    </div>
                    <div class="align-baseline justify-start mt-4">
                        <span class="col profile-user-name ">
                            <h4>Sophia</h4>
                        </span>
                    </div>
                </div>
                <div class="max-bid text-dark p-1 rounded mt-4">
                    <h5 class="text-center">Max Bid: $3300</h5>
                    <!-- <h6 class="text-start"></h6> -->
                </div>

                <div class="button  text-center mt-3">

                    <button type="button" class=" rounded btn text-light" style="background-color:#2a2185">Place Your Bid</button>
                </div>
            </div>
        </div>
    </div>
</div>