<div class="container-sm">
    <div class="container w-75">
        <div class="row mt-4 bg-light border-bottom">

        </div>
    </div>
</div>


<div class="col col-12 col-lg-4 col-md-12 col-sm-6  text-center" style="padding-top:0.9rem">

</div>


<div class="photo">
    <div class="side-corner-tag">
        <img src="../${value.image}" class = "rounded" alt="" width="230px" height="230px">
        <p><span>${value.status}</span></p>
    </div>
</div>

<h3 class="fw-bold">${value.name}</h3>
<div class="description ">
    <p>${value.description}</p>
</div>

<div class="col col-12 justify-center col-lg-4 col-md-4 col-sm-6 bg-light">
    <div class="about-product mt-4">

    </div>


    <div class="timer mt-4 ">

    </div>
</div>



<section class="coming-soon1">
    <div>
        <div class="countdown countdown1">
            <div class="container-day countdown-number1">
                <h3 class="day countdown-time" id="day${value.p_id}">Time :</h3>
                <h3 id="tt" class="countdown-text1">Day</h3>
            </div>
            <div class="container-hour countdown-number1">
                <h3 class="hour countdown-time" id="hour${value.p_id}">Time :</h3>
                <h3 id="tt" class="countdown-text1">Hrs</h3>
            </div>
            <div class="container-minute countdown-number1">
                <h3 class="minute countdown-time" id="minute${value.p_id}">Time :</h3>
                <h3 id="tt" class="countdown-text1">Min</h3>
            </div>
            <div class="container-second countdown-number1">
                <h3 class="second countdown-time" id="second${value.p_id}">Time :</h3>
                <h3 id="tt" class="countdown-text1">Sec</h3>
            </div>
        </div>
    </div>
</section>





<div class="col col-12 col-lg-4 col-md-6 col-sm-12 ">

</div>

<div class="col row mt-4  justify-content-center">
    <div class="row">
        <div class="col-3 profile-image px-0 mx-0">
            <img src="../${value.photo}" alt="" width="70px" height="70px" class="rounded-circle mx-0 px-0">

        </div>
        <div class="col align-baseline justify-start mt-4">
                        <span class="col profile-user-name ">
                            <h4>${value.fullname}</h4>
                        </span>
        </div>
    </div>
</div>
<div class="max-bid text-dark mt-1 pt-4 px-1 rounded mt-4">
    <h5 class="">Max Bid:  ${value.price}</h5>
</div>

<div class="button  mb-3">
    <button type="button" onclick="PlaceBid(${value.p_id})" class=" rounded btn text-light" style="background-color:#2a2185">Place Your Bid</button>
</div>