<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <%- include('headerfiles') %>

    <style>
        .error {
            color: red;
        }

        #admin_body {
            background-color: #2c3034;
        }

        body {
            color: #000;
            overflow-x: hidden;
            height: 100%;
            /*background-image: url("https://i.imgur.com/GMmCQHC.png");*/
            background-repeat: no-repeat;
            background-size: 100% 100%
        }

        .card {
            padding: 30px 40px;
            margin-top: 60px;
            margin-bottom: 60px;
            border: none !important;
            box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
        }

        .blue-text {
            color: #00BCD4
        }

        .form-control-label {
            margin-bottom: 0
        }

        input, textarea, button {
            padding: 8px 15px;
            border-radius: 5px !important;
            margin: 5px 0px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            font-size: 18px !important;
            font-weight: 300
        }

        input:focus, textarea:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            border: 1px solid #00BCD4;
            outline-width: 0;
            font-weight: 400
        }

        .btn-block {
            text-transform: uppercase;
            font-size: 15px !important;
            font-weight: 400;
            height: 43px;
            cursor: pointer
        }

        .btn-block:hover {
            color: #fff !important
        }

        button:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            outline-width: 0
        }
    </style>

    <script>
        function UserInsert() {
            $('#userform').validate();
            if ($('#userform').valid()) {
                let formcontrols = document.getElementById("userform").elements;
                let formdata = new FormData();
                for (let i = 0; i < formcontrols.length; i++) {
                    if (formcontrols[i].type !== "button") {
                        if (formcontrols[i].type === "file") {
                            formdata.append(formcontrols[i].name, formcontrols[i].files[0]);
                        } else {
                            formdata.append(formcontrols[i].name, formcontrols[i].value);
                        }
                    }
                }

                let httpreq = new XMLHttpRequest();
                httpreq.onreadystatechange = function () {
                    if (this.readyState === 4 && this.status === 200) {
                        let CheckResponse = document.getElementById("userresponse");
                        if (this.response === "exist") {
                            CheckResponse.className = `alert alert-danger`;
                            CheckResponse.innerText = `User already exist with this email.`;
                        } else {
                            CheckResponse.className = `alert alert-success`;
                            CheckResponse.innerText = `Register successfully`;
                            document.getElementById("userform").reset();
                        }

                    }
                }
                httpreq.open('post', "/insertuser", true);
                httpreq.send(formdata);
            }
        }



    </script>


</head>

<body  id="admin_body">

<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <div class="form">
                <div class="modalBody">
                    <div class="form-title text-center pt-5">
                        <h4>Register Yourself Here </h4>
                    </div>
                    <div class="d-flex flex-column text-center">
                        <form id="userform">
                            <div id="fc1">

                                <input type="text" name="fullname" id="fullname"
                                       data-rule-required="true"
                                       placeholder="Enter Username"
                                       data-msg-required="*E-Mail Required">

                            </div>
                            <div id="fc1">

                                <input type="text" name="fathername" id="fathername"
                                       data-rule-required="true"
                                       placeholder="Enter Father Name"
                                       data-msg-required="*Password Required">

                            </div>
                            <div id="fc1">

                                <input type="email" name="email" id="email"
                                       data-rule-required="true"
                                       placeholder="Enter E-Mail"
                                       data-msg-required="*Password Required">

                            </div>
                            <div id="fc1">

                                <input type="text" name="phone_no" id="phone_no"
                                       data-rule-required="true"
                                       maxlength="10" minlength="10"
                                       data-rule-number="true"
                                       placeholder="Enter Mobile Number"
                                       data-msg-required="*Password Required">

                            </div>
                            <div id="fc1">

                                <input type="password" name="password" id="password"
                                       data-rule-required="true"
                                       placeholder="Enter Password"
                                       data-msg-required="*Password Required">

                            </div>
                            <div id="fc1">

                                <input type="password"  name="confirm_password" id="confirm_password"
                                       data-rule-required="true"
                                       data-rule-equalto="#password"
                                       placeholder="Enter Password"
                                       data-msg-required="*Enter Password">

                            </div>
                            <label for="photo" class="text-light justify-content-start">Upload Your Profile Photo</label>
                            <div id="fc1">
                                <input type="file"   name="photo" id="photo"
                                       data-rule-required="true"
                                       placeholder="Upload Photo"
                                       data-msg-required="*Password Required">

                            </div>


                            <div id="container">
                                <input type="button" id="btnncat" onclick="UserInsert()" value="REGISTER"
                                       class="btn-userLogin"/>
                            </div>
                            <p class="text">Have an account?
                                <a href="/user_login">Login Here</a>
                            </p>
                        </form>

                    </div>
                </div>
            </div>
            <div id="userresponse"></div>
        </div>
    </div>
</div>

</body>