<!DOCTYPE html>
<html lang="">
<head>
    <title>User Home</title>
    <%- include('headerfiles') %>
</head>
<body>
<%- include('userheader')%>
<div class="container">
    <h2>Welcome, <%= username %></h2>
</div>
</body>
</html>