<!DOCTYPE html>
<html lang="">
<head>
    <title>User Login</title>

    <%- include('headerfiles') %>
    <style>
        .btn:focus, .btn:active {
            outline: none !important;
            box-shadow: none !important;
        }

        .form-control:focus, .form-control:active {
            outline: none !important;
            box-shadow: none !important;
        }

    </style>

    <script>

        function UserLoginValues() {
            // $('#userlogin').validate();
            // if ($('#userlogin').valid()) {
                var formcontrols = document.getElementById("userlogin").elements;
                var formdata = new FormData();
                for (let i = 0; i < formcontrols.length; i++) {
                    if (formcontrols[i].type !== "button")
                        formdata.append(formcontrols[i].name, formcontrols[i].value);
                }
                var http = new XMLHttpRequest();
                http.onreadystatechange = function () {
                    if (this.readyState === 4 && this.status === 200) {
                        // alert(this.response);
                        if (this.response === "loggedin") {
                            window.location.href = "/users/userhome";
                        } else {
                            document.getElementById('error').innerHTML = `<div class="alert alert-danger alert-dismissible d-flex align-items-center mt-3" role="alert">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                </svg>
                            <div>
                                Please Enter Valid Email/Password
                            </div>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>`;
                        }
                    }
                }
                http.open('post', '/checkuser', true);
                http.send(formdata);
            // }
        }




    </script>

</head>


<body id="cat_body">
<%- include('hompagehead') %>
<div class="container mb-4" style="margin-top: 35px;margin-left: 120px;">
    <div class="row d-flex">
        <div class="col-5">
            <form id="userlogin">
                <p class="bg-primary text-light px-2 pb-2" style=" font-size: 20px;margin-bottom: -1px;"><b>SignIn To
                        Your Account </b></p>

                <div class="border p-4">


                    <div class="form-group mt-3 mb-4">
                        <label for="email ">Enter email</label>
                        <input type="email" name="email" id="email" data-rule-required="true" placeholder="Enter E-Mail"
                               data-msg-required="*E-Mail Required" class="form-control mt-1 mb-1">

                    </div>
                    <div class="form-group  mb-5">
                        <label for="password">Enter password</label>
                        <input type="password" name="password" id="password" data-rule-required="true" placeholder="Enter Password"
                               data-msg-required="*Password Required" class="form-control mt-1 mb-1">

                    </div>

                    <div class="terms mt-5">
                        <label class="ll d-flex">

                            <p>Remember Me</p>
                            <div class="ez-checkbox sprites ms-2"><input id="chkChecked" type="checkbox"
                                                                         name="chkChecked" class="ez-hide">
                            </div>
                            <div class="" style="padding-left: 133px;">
                                <a href="" style="text-decoration: none;">Forgot Id/Password</a>
                            </div>

                        </label>
                        <div class="pt text-end">
                            <button class="btn btn-primary px-4 shadow text-light w-50 fw-bold" style=""  onclick="UserLoginValues()"
                                    type="button">SignIn<i class="fa-solid fa-right-to-bracket ms-2"></i></button>
                        </div>
                    </div>
                </div>
            </form>
            <div id="error"></div>
        </div>
        <div class="col">
            <div class="">

                <img src="/slider-img-2/dodge.png" alt="" class="rounded" width="600px" height="385px">
            </div>
        </div>
    </div>
</div>

<%- include('home-footer') %>

</body>
</html>