<link href="/css/bootstrap.css" rel="stylesheet"/>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
<link rel="stylesheet" href="/stylesheets/home-style.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
        integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous" referrerpolic
      +y="no-referrer"/>

<nav class="n1 navbar-expand-lg">

    <ul class="mb-0 nav-content">
        <li class="logo"><img src="/images/logo1.png" height="30px" style="padding-bottom:8px"></li>

        <li class="items"><a href="/users/userhome">Home</a></li>
        <li class="items"><a href="auctions.html">Auctions</a></li>
        <li class="items"><a href="/users/add-bid">Daily Auctions</a></li>
        <li class="items"><a href="winners.html">Winners</a></li>
        <li class="items"><a href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" tooltip-bs-bg="white"
                             title="Hurry !! 50% off on all Auctions !! Coupon Code `DRM50B` Use it before expired !!">Announcements</a>
        </li>
        <li class="items"><a href="offers">offers</a></li>
        <li class="items"><a href="/users/profile"><img src="/images/login1.png"></a></li>
        <li class="btn"><a href="#"><i class="fas fa-bars"></i></a></li>
    </ul>
</nav>

<script>

    $(document).ready(function () {
        $('.btn').click(function () {
            $('.items').toggleClass("show");
            $('ul li').toggleClass("hide");
        });

        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    });






</script>