<!DOCTYPE html>
<html lang="">
<head>
    <title>User Home</title>
    <%- include('headerfilesusers') %>
</head>
<body>
<div class="container">
    <h2>Welcome, <%= name %></h2>
</div>
</body>
</html>