<link href="/css/bootstrap.css" rel="stylesheet"/>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
<!--<link rel="stylesheet" href="/stylesheets/home-style.css">-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
        integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous" referrerpolic
      +y="no-referrer"/>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand mx-4" href="#">
        <img src="/images/logo2.png" width="90px" height="30px" alt="" style="border-radius: 15%;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mx-5">
            <li class="nav-item active">
                <a class="nav-link" href="/users/userhome">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/userhome">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Auctions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/add-bid">Daily Auctions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="winners.html">Winners</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-bs-toggle="tooltip"
                   data-bs-placement="bottom" tooltip-bs-bg="white"
                   title="Hurry !! 50% off on all Auctions !! Coupon Code `DRM50B` Use it before expired !!">Annoucements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Offers</a>
            </li>
            <!--            user login icon-->
            <li class="nav-item">
                <a href="/users/profile" class="nav-link">
                    <lord-icon src="https://cdn.lordicon.com/elkhjhci.json" trigger="hover"
                               style="width:30px;height:30px">
                    </lord-icon>
                </a>
            </li>
            <!--add to cart icon-->
            <li class="nav-item">
                <a href="/users/my-bids" class="nav-link">
                    <lord-icon src="https://cdn.lordicon.com/gtcqrwnh.json" trigger="hover"
                               style="width:30px;height:30px">
                    </lord-icon>
                </a>
            </li>
        </ul>
    </div>
</nav>
<script>

    $(document).ready(function () {
        $('.btn').click(function () {
            $('.items').toggleClass("show");
            $('ul li').toggleClass("hide");
        });

        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    });






</script>