<!DOCTYPE html>
<html lang="">
<head>
    <title>User Home</title>
    <%- include('homeheaderfiles') %>


    <style>

        .txt p {
            color: #ffffff;
            font-size: 2rem;
        }

        .daily-auction-text {
            display: inline-flex;
            padding-left: 40rem;
        }

        .main-card-container {
            width: 83%;
            padding-right: 0px;
            margin: 0 auto;
        }

        .card-bottom-btn {
            background-color: brown;
            color: white;
            margin: 0 0 0 43.7rem;
        }

        .user-product-btn {
            background-color: brown;
            color: white;
            margin: 2rem 0 0 1rem;
        }

        .container-cards {
            width: 18rem;
            display: inline-block;
            border-radius: 10px;
        }

        .how-to-play-img {
            margin: -14rem 0 0 42rem;
        }

        @media all and (max-width: 1100px) {
            .daily-auction-text {
                font-size: 4rem;
                padding-left: 26.3rem;
            }

            .main-card-container {
                width: 90%;
                padding-right: 0px;
                padding-left: 1rem;
            }

            .card-bottom-btn {
                background-color: brown;
                color: white;
                margin: 0 0 0 25rem;
            }

            .how-to-play-img {
                margin: -14rem 0 0 31rem;
            }
        }

        @media all and (max-width: 1000px) {
            .daily-auction-text {
                font-size: 4rem;
                padding-left: 22.3rem;
            }

            .main-card-container {
                width: 100%;
                padding-right: 0px;
                padding-left: 1rem;
            }

            .card-bottom-btn {
                background-color: brown;
                color: white;
                margin: 0 0 0 25rem;
            }

            .how-to-play-img {
                margin: 2rem 0 0 0rem;
            }
        }

        @media all and (max-width: 900px) {
            .daily-auction-text {
                font-size: 4rem;
                padding-left: 17.3rem;
            }

            .main-card-container {
                width: 82%;
                padding-right: 0px;
                padding-left: 1rem;
            }

            .card-bottom-btn {
                background-color: brown;
                color: white;
                margin: 0 0 0 20.6rem;
            }

            .container-cards {
                width: 18rem;
                display: inline-block;
                border-radius: 10px;
            }

            .how-to-play-img {
                margin: 2rem 0 0 0rem;
            }
        }

        @media all and (max-width: 800px) {
            .daily-auction-text {
                font-size: 4rem;
                padding-left: 15.3rem;
            }

            .main-card-container {
                width: 89%;
                padding-right: 0px;
                padding-left: 1rem;
            }

            .card-bottom-btn {
                background-color: brown;
                color: white;
                margin: 0 0 0 19rem;
            }

            .container-cards {
                width: 18rem;
                display: inline-block;
                border-radius: 10px;
            }

            .how-to-play-img {
                margin: 2rem 0 0 0rem;
            }
        }

        @media all and (max-width: 700px) {
            .daily-auction-text {
                font-size: 4rem;
                padding-left: 12.3rem;
            }

            .main-card-container {
                width: 102%;
                padding-right: 0px;
                padding-left: 1rem;
            }

            .card-bottom-btn {
                background-color: brown;
                color: white;
                margin: 0 0 0 16rem;
            }


            .container-cards {
                width: 18rem;
                display: inline-block;
                border-radius: 10px;
            }

            .how-to-play-img {
                margin: 2rem 0 0 0rem;
            }

            .lft img {
                display: inline-block;
                width: 100%;
                height: 320px;
                width: 380px;
            }
        }

        @media all and (max-width: 600px) {
            .daily-auction-text {
                font-size: 4rem;
                padding-left: 8.3rem;
            }

            .main-card-container {
                width: 102%;
                padding-right: 0px;
                padding-left: 1rem;
            }

            .card-bottom-btn {
                background-color: brown;
                color: white;
                margin: 0 0 0 14.4rem;
            }

            .countdown-title-main {
                font-size: 2.8rem;
            }


            .container-cards {
                width: 16rem;
                display: inline-block;
                border-radius: 10px;
            }

            .lft h1 {
                display: block;
                font-size: 1.6rem;
            }

            .how-to-play-img {
                margin: 2rem 0 0 0rem;
            }
        }

        @media all and (max-width: 500px) {
            .daily-auction-text {
                font-size: 4rem;
                padding-left: 4.3rem;
            }

            .main-card-container {
                width: 87%;
                padding-right: 0px;
                padding-left: 1rem;
            }

            .lft h1 {
                display: block;
                font-size: 1.4rem;
            }

            .countdown-title-main {
                font-size: 2.4rem;
            }


            .card-bottom-btn {
                background-color: brown;
                color: white;
                margin: 0 0 0 8rem;
            }

            .how-to-play-img {
                margin: 2rem 0 0 0rem;
            }

            .lft img {
                display: inline-block;
                width: 100%;
                height: 320px;
                width: 380px;
            }
        }

        @media all and (max-width: 400px) {
            .daily-auction-text {
                font-size: 4rem;
                padding-left: 4.3rem;
            }

            .main-card-container {
                width: 87%;
                padding-right: 0px;
                padding-left: 1rem;
            }

            .card-bottom-btn {
                background-color: brown;
                color: white;
                margin: 0 0 0 8rem;
            }

            .lft h1 {
                display: block;
                font-size: 1.1rem;
            }

            .how-to-play-img {
                margin: 2rem 0 0 0rem;
            }

            .lft img {
                display: inline-block;
                width: 100%;
                height: 320px;
                width: 352px;
            }

            .timer-img {
                margin: 0 0 0 0;
            }

            .countdown-title-main {
                font-size: 1.9rem;
            }

            .countdown-main {
                font-family: sans-serif;
                color: rgb(0, 0, 0);
                display: inline-block;
                font-weight: 100;
                text-align: center;
                font-size: 30px;
            }
        }
    </style>


</head>
<body onload="UserData()">
<%- include('userheader') %>
<div class="container">
    <!--    <h2>Welcome, <%= username %></h2>-->
</div>

<div style="background-color:  #1f2833;">

    <div class="container-fluid  mb-1 " style="padding:0 0 0 0">
        <div class="slider1">
            <!-- fade css -->
            <div class="myslide1 fade1">
                <div class="txt">
                    <h1><a class="btn btn-dark b-home" href="" style="padding: 12px 8px 12px 8px;background-color: #bc6539d3;
                     border-radius: 7px;">Start Bidding Now</a></h1>
                    <p class="display-4 lead">Bid to Win<br><span class="text-primary font-weight-bolds">
                                Highest & Unique</span> Bid to Unpack Your Dreams</p>
                </div>
                <img src="/images/slider8.jpg" style="width: 100%; height: 100%; " alt="">
            </div>

            <div class="myslide1 fade1">
                <div class="txt">
                    <h1><a class="btn btn-dark b-home" href="" style="padding: 12px 8px 12px 8px;background-color: #bc6539d3;
                     border-radius: 7px;">Start Bidding Now</a></h1>
                    <p class="display-4 lead">Bid to Win<br><span class="text-primary font-weight-bolds">
                                Highest & Unique</span> Bid to Unpack Your Dreams</p>
                </div>
                <img src="/images/expanding-card-img3.jpg" style="width: 100%; height: 100%;" alt="">
            </div>

            <div class="myslide1 fade1">
                <div class="txt">
                    <h1><a class="btn btn-dark b-home" href="" style="padding: 12px 8px 12px 8px;background-color: #bc6539d3;
                     border-radius: 7px;">Start Bidding Now</a></h1>
                    <p class="display-4 lead">Bid to Win<br><span class="text-primary font-weight-bolds">
                                Highest & Unique</span> Bid to Unpack Your Dreams</p>
                </div>
                <img src="/images/slider2 (2).jpg" style="width: 100%; height: 100%;" alt="">
            </div>

            <div class="myslide1 fade1">
                <div class="txt">
                    <h1><a class="btn btn-dark b-home" href="" style="padding: 12px 8px 12px 8px;background-color: #bc6539d3;
                     border-radius: 7px;">Start Bidding Now</a></h1>
                    <p class="display-4 lead">Bid to Win<br><span class="text-primary font-weight-bolds">
                                Highest & Unique</span> Bid to Unpack Your Dreams</p>
                </div>
                <img src="/images/slider1.jpg" style="width: 100%; height: 100%;" alt="">
            </div>

            <div class="dotsbox" style="text-align:center">
                <span class="dot1" onclick="currentSlide(1)"></span>
                <span class="dot1" onclick="currentSlide(2)"></span>
                <span class="dot1" onclick="currentSlide(3)"></span>
                <span class="dot1" onclick="currentSlide(4)"></span>
            </div>
            <!-- /onclick js -->
        </div>


    </div>
</div>
<!-- spin slide -->
<div class=" py-2 shadow-sm " style="background-color: #c5c6c7">
    <div class="container">
        <div class="align-item-center g-0 row">
            <div class="mb-lg-0 mb-4 col-xl-4 col-lg-4 col-md-6" id="quick-box">
                <div class="d-flex justify-content-center ">
                        <span class="rounded-circle text-center fs-4">
                            <i class="fas fa-cog fa-spin"></i>
                        </span>
                    <div class="ms-3">
                        <h4 class="mb-0 fw-semi-bold">
                            2000+ Bids Placed
                        </h4>
                    </div>
                </div>
            </div>

            <div class="mb-lg-0 mb-4 col-xl-4 col-lg-4 col-md-6">
                <div class="d-flex justify-content-center">
                        <span class="rounded-circle text-center fs-4">
                            <i class="fas fa-cog fa-spin"></i>
                        </span>
                    <div class="ms-3">
                        <h4 class="mb-0 fw-semi-bold">
                            5,460+ Demmands
                        </h4>
                    </div>
                </div>
            </div>

            <div class="mb-lg-0 mb-4 col-xl-4 col-lg-4 col-md-6">
                <div class="d-flex justify-content-center">
                        <span class="rounded-circle text-center fs-4">
                            <i class="fas fa-cog fa-spin"></i>
                        </span>
                    <div class="ms-3">
                        <h4 class="mb-0 fw-semi-bold">
                            5+ Auctions Daily
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Auction Timer -->
<div class="container-fluid timer-img ">
    <a href="/users/user-products" class="btn ml-20 user-product-btn" style=" background-color: brown;
            color: white;
            margin: 2rem 0 0 1rem;" role="button">Add
        Your
        Product</a>
    <div class="container ">
        <h1 class="countdown-title-main fw-normal">Next Auction Start's In</h1>


        <div id="countdown-main" class="countdown-main">

            <div class="countdown-number-main">
                <span class="days-main countdown-time-main"></span>
                <span class="countdown-text-main">DAYS</span>
            </div>
            <div class="countdown-number-main">
                <span class="hours-main countdown-time-main"></span>
                <span class="countdown-text-main">HOURS</span>
            </div>
            <div class="countdown-number-main">
                <span class="minutes-main countdown-time-main"></span>
                <span class="countdown-text-main">MINUTES</span>
            </div>
            <div class="countdown-number-main">
                <span class="seconds-main countdown-time-main"></span>
                <span class="countdown-text-main">SECONDS</span>
            </div>
            <script src="/javascripts/clock.js"></script>

        </div>


        <div class="how-to-play-img ">
                    <span class="lft">
                        <h1>Just 3 Steps to Win</h1> <a href="howtoplay.aspx"><img src="/images/how-to-play.jpg"></a>
                    </span>
        </div>

    </div>
</div>


<div class=" pt-4 pb-3 mt-5 container-cards1">
    <div class="container-fluid">
        <div class="row-cols-12">
            <div class="col-xxl-10 offset-1">
                <h1 class="text-center mt-3 mb-5 display-5 text-dark border-bottom ">Daily Auctions</h1>

                <div id="photoView" class="justify-content-around">
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('footerheaders') %>


<script>
    function UserData() {
        var http = new XMLHttpRequest();
        http.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                // console.log(JSON.parse(this.response));
                var data = JSON.parse(this.response);
                // console.log(this.response);

                let tableTag = '';
                data.forEach(function (value) {
                    tableTag += `          <div class=" card container-cards" style="display: inline-block;max-width: 18rem;border-radius: 10px">
                    <img src="../${value.image}" height=200px class="card-img-top" alt="..."
                        style="border-top-right-radius: 10px;border-top-left-radius: 10px;">
                    <div class="card-body">
                        <h5 class="card-title">${value.name}</h5>

                        <div class="lh-1 d-flex align-items-center "><span class="text-warning me-1 mb-1">
                                <svg viewBox="0 0 24 24" role="presentation" style="width: 0.875rem; height: 0.875rem;">
                                    <path style="fill: currentcolor;"></path>
                                </svg><svg viewBox="0 0 24 24" role="presentation"
                                    style="width: 0.875rem; height: 0.875rem;">
                                    <path
                                        d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"
                                        style="fill: currentcolor;"></path>
                                </svg><svg viewBox="0 0 24 24" role="presentation"
                                    style="width: 0.875rem; height: 0.875rem;">
                                    <path
                                        d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"
                                        style="fill: currentcolor;"></path>
                                </svg><svg viewBox="0 0 24 24" role="presentation"
                                    style="width: 0.875rem; height: 0.875rem;">
                                    <path
                                        d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"
                                        style="fill: currentcolor;"></path>
                                </svg><svg viewBox="0 0 24 24" role="presentation"
                                    style="width: 0.875rem; height: 0.875rem;">
                                    <path
                                        d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"
                                        style="fill:#decccc;"></path>
                                </svg></span><span class="text-warning me-1"> 4.0</span><span class="fs-6 text-muted">
                                (${value.p_id})</span></div>
                         <div class="lh-1 mt-3 mb-4"><span class="text-dark">Product Status: ${value.status}</span>
                        </div>
                        <div class="lh-1 mt-3 mb-4"><span class="text-dark fw-bold">Max Bid: &#8377; ${value.price}</span>
                        </div>
                        <div class="card-footer pt-0 pb-0 pr-0 pl-0 mt-1 ml-2">

                            <div class="align-items-center g-0 row">
                            </div>

                            <div class="col ms-2 col justify-content-center pr-2 pl-2 mt-2">
                                <div id="countdown1" class="countdown1">
                                    <div class="countdown-number1">
                                        <span class="days countdown-time"></span>
                                        <span class="countdown-text1">DAYS</span>
                                    </div>
                                    <div class="countdown-number1">
                                        <span class="hours countdown-time"></span>
                                        <span class="countdown-text1">HRS</span>
                                    </div>
                                    <div class="countdown-number1">
                                        <span class="minutes countdown-time"></span>
                                        <span class="countdown-text1">MIN</span>
                                    </div>
                                    <div class="countdown-number1">
                                        <span class="seconds countdown-time"></span>
                                        <span class="countdown-text1">SEC</span>
                                    </div>
                                </div>
                                <span><button onclick="PlaceBid(${value.p_id})" class="btn btn-light ml-1 mb-3 mt-0"
                                     style="background-color:rgb(196, 65, 65);color:white;">Bid Now</button></span>
                                </div></div></div></div>`
                });
                document.getElementById("photoView").innerHTML = tableTag;
            }
        }
        http.open("get", "/users/photoview", true);
        http.send();
    }


    function PlaceBid(p_id) {
        // console.log(p_id);
        localStorage.setItem("pid", p_id);
        window.location.href = "/users/add-bid";
        // let http=new XMLHttpRequest();
        // http.onreadystatechange = function (){
        //     if(this.readyState === 4 && this.status === 200){
        //         if( this.response){
        //             // window.location.href=`/users/add-bid`;
        //             window.location.href="/users/add-bid";
        //         }else{
        //             alert("no data found")
        //         }
        //     }
        // }
        // http.open('get',`/users/BidPlace?p_id=${p_id}`,true);
        // http.send();
    }


    const slidehome = document.querySelectorAll('.myslide1'),
        dothome = document.querySelectorAll('.dot1');
    let counterhome = 1;
    slidefun(counterhome);

    let timerhome = setInterval(autoSlide, 3000);

    function autoSlide() {
        counterhome += 1;
        slidefun(counterhome);
    }

    function plusSlides(n) {
        counterhome += n;
        slidefun(counterhome);
        resetTimer();
    }

    function currentSlide(n) {
        counterhome = n;
        slidefun(counterhome);
        resetTimer();
    }

    function resetTimer() {
        clearInterval(timerhome);
        timerhome = setInterval(autoSlide, 3000);
    }

    function slidefun(n) {

        let i;
        for (i = 0; i < slidehome.length; i++) {
            slidehome[i].style.display = "none";
        }
        for (i = 0; i < dothome.length; i++) {
            dothome[i].className = dothome[i].className.replace(' active', '');
        }
        if (n > slidehome.length) {
            counterhome = 1;
        }
        if (n < 1) {
            counterhome = slidehome.length;
        }
        slidehome[counterhome - 1].style.display = "block";
        dothome[counterhome - 1].className += " active";
    }

</script>
</body>
</html>